dist/
/spriggan-mark2-english-v1.0.cue
/spriggan-mark2-english-v1.0.ccd
/spriggan-mark2-english-v1.0.xdelta
/spriggan-mark2-english-v1.1.cue
/spriggan-mark2-english-v1.1.ccd
/spriggan-mark2-english-v1.1.xdelta
/spriggan-mark2*.img
/xdelta3.exe
